.logo {
  fill: #009A96;
  height: 60px;
}

.header-logo {
  max-height: 44px;
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  border-color: rgba(0,0,0,0);
  outline: none;
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 154, 150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media(min-width: 992px) {
  .header-logo {
    max-height: 60px;
  }
}

.bg-brand-color {
  background-color: #009A96;
  color: #fff;
}

.text-small {
  font-size: 0.9rem;
}

.text-brand-color {
  color: #009A96;
}

.accordion-button,
.accordion-button.show,
.accordion-button:hover,
.accordion-button:focus {
  background: #fff;
  outline: none;
  box-shadow: none;
}

.accordion-button.show,
.accordion-button:hover {
  color: #009A96;
}

footer {
  background-color: #25222C;
  color: #FFF;
}