{% from 'svg_images.html' import header_logo, footer_logo %}
{% from 'ui_elements.html' import main_navigation %}
<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }} - INNO-ТИМ{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href= "{{ url_for('static',filename='styles/style.css') }}" rel= "stylesheet" type= "text/css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container py-2 py-md-4">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light align-items-center">
            <div class="container-fluid">
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="d-flex mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                    {{ header_logo('logo header-logo') }}
                </a>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% for item in main_navigation %}
                        <li class="nav-item">
                            <a class="nav-link{% if request.path == item.path %} active" aria-current="page
                               {%- endif %}" href="{{ item.path }}">{{ item.caption }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <header>
       {% block header %}{% endblock %}
    </header>

    <div class="container">
        {%- block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <div class="row py-5 mt-5 text-small">
                <div class="col-12 col-md-8 d-flex justify-content-center justify-content-center justify-content-md-start">
                    <div class="col mb-5 pe-3">
                        <p class="h6">Акселератор</p>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О проекте</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Эксперты</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">СМИ о нас</a></li>
                        </ul>
                    </div>
                    <div class="col mb-5 pe-3">
                        <p class="h6">Стартапам</p>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Истории успеха</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Программы обучения</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Требования</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col mb-5">
                        <p class="h6">Инвесторам</p>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Технологические направления</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Интеллектуальный поиск</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Проекты</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Команды</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column justify-content-center mb-5">
                        <a href="https://ftim.ru" class="mx-auto mx-md-0 mb-3 footer-logo" rel="nofollow">
                            {{ footer_logo() }}
                        </a>
                        <p class="h6 mx-auto">Демо дни</p>
                        <p class="mx-auto text-muted">2021.02.18, 2021.07.21</p>
                    </div>
                </div>
                <div class="col-12 border-top border-secondary text-center">
                    <p class="mt-5 text-muted">&copy; 2021, Витрина инновационных решений акселератора ТИМ</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
</html>