{% extends 'base.html' %}

{% block header %}
<div class="bg-brand-color py-3">
    <div class="container">
        <form action="/" method="get" class="m-4">
             <div class="input-group">
                 <input class="form-control border-end-0 border-0 bg-white bg-opacity-50 rounded-pill p-3" type="text"
                        placeholder="Я ищу..." id="query" name="query">
                 <span class="input-group-append">
                    <button class="btn rounded-pill ms-n3 p-3" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
             </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
    {% if response %}
        <h2>По запросу &laquo;{{ query }}&raquo; найдено</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for item in response %}
            <div class="col">
                <div class="card h-100 mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><a href="/projects/{{ item.team_id }}" class="text-dark">{{ item.team_title }}</a></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ item.similarity }}</h1>
                        <p>{{ item.project_description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <iframe src="/get_graph" style="background:transparent;width:100%;height:600px;"></iframe>
    </div>
{% endblock %}