{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-3">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#general">Общая информация</a>
            <a class="list-group-item list-group-item-action" href="#effects">Прогнозируемые эффекты</a>
            <a class="list-group-item list-group-item-action" href="#tasks">Мероприятия</a>
            <a class="list-group-item list-group-item-action" href="#meetings">Собрания</a>
            <a class="list-group-item list-group-item-action" href="#materials">Материалы</a>
        </div>
    </div>
    
    <div class="col-12 col-md-9">
        <div id="general" class="my-5">
            <p>{{ description }}</p>
        </div>

        <div id="effects" class="bg-ftim">
            <div id="effects" class="my-5 text-center">
                <h3 class="mb-5">Прогнозируемые эффекты</h3>
                <div class="container">
                    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
                        {% for item in effects %}
                        <div class="col">
                            <h6>{{ item.name }}</h6>
                            {% if item.value != '' %}
                                <span class="h1 text-dark">{{ item.value }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="tasks" class="my-5">
            <h3 class="mb-3 text-center">Мероприятия по проекту</h3>
            <div class="list-group">
                {% for item in tasks %}
                <label class="list-group-item d-flex gap-3 border-0 border-bottom">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content">
                        <strong>{{ item.name }}</strong>
                        <small class="d-block text-muted">
                            <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"/></svg>
                            {{ item.time }}
                        </small>
                    </span>
                </label>
                {% endfor %}
                <label class="list-group-item d-flex gap-3 bg-light border-0 border-bottom">
                    <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0" disabled type="checkbox" value="" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content">
                        <span contenteditable="true" class="w-100">Добавить новую задачу...</span>
                        <small class="d-block text-muted">
                            <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#list-check"/></svg>
                            Выбрать из списка...
                        </small>
                    </span>
                </label>
            </div>
        </div>

        <div id="meetings" class="my-5">
            <h3 class="mb-3 text-center">Собрания по проекту</h3>
            <div class="list-group">
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0 border-bottom" aria-current="true">
                    <span class="h3"><i class="bi bi-calendar-event"></i></span>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">List group item heading</h6>
                            <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </div>
            </div>
        </div>

        <div id="materials"" class="my-5">
            <h3 class="mb-3 text-center">Материалы проекта</h3>
            <div class="accordion" id="additional-materials">
                {% for item in additional_materials %}
                <div class="accordion-item border-0{% if not loop.last %} border-bottom{% endif %}">
                    <h4 class="accordion-header" id="element-{{ loop.index }}">
                        {% if not loop.last %}
                            {% set button_class = 'collapsed' %}
                            {% set div_class = '' %}
                            {% set aria_expanded = 'false' %}
                        {% else %}
                            {% set button_class = 'show' %}
                            {% set div_class = 'show' %}
                            {% set aria_expanded = 'true' %}
                        {% endif %}
                        <button class="accordion-button {{ button_class }}" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}"
                                aria-expanded="{{ aria_expanded }}" aria-controls="collapse-{{ loop.index }}">
                            {{ item.stage }}
                        </button>
                    </h4>
                    <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse {{ div_class }}"
                         aria-labelledby="element-{{ loop.index }}" data-bs-parent="#aadditional-materials">
                        <div class="accordion-body">
                            {% for material in item.materials %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="h5">{{ file_icon(material.filetype) }}</span>
                                    <a href="{{ material.link }}" class="link-dark">
                                        {{ material.name }}
                                    </a>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
