{% macro header_logo(css_class='logo') %}
<svg class="{{ css_class }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 322.1 110.3" xml:space="preserve">
    <path fill="#009A96" d="M121.2,12.7h-6.5v-4h18.6l-1.4,4h-6v16.9h-4.6L121.2,12.7L121.2,12.7z"></path>
    <path fill="#009A96" d="M137.4,35.2H133V14.5h4.4V16h0.1c0.7-0.8,1.9-1.9,4.2-1.9c3.9,0,6.9,3.3,6.9,7.9c0,4.6-3,8-6.9,8 c-2.3,0-3.6-1.1-4.2-1.9h-0.1V35.2z M140.7,26.1c2,0,3.4-1.7,3.4-4c0-2.2-1.4-3.9-3.4-3.9s-3.4,1.7-3.4,3.9 C137.2,24.3,138.7,26.1,140.7,26.1z"></path>
    <path fill="#009A96" d="M150.5,24.9c0-2.4,2-4.9,6.7-4.9c0.7,0,1.7,0,2.5,0.2v-0.2c0-1.4-1.1-1.9-2.4-1.9c-1.1,0-2.4,0.4-3.5,1.1 l-2.6-2.6c1.7-1.6,4.2-2.3,6.3-2.3c4,0,6.6,2.2,6.6,5.9v9.6h-4.3v-1.5h-0.1c-0.8,1.3-2.2,1.9-4.1,1.9 C152.7,30,150.5,27.8,150.5,24.9z M159.8,23.9v-0.5c-0.6-0.1-1.3-0.2-1.9-0.2c-2,0-2.8,0.7-2.9,1.7c0,1,0.8,1.7,2.1,1.7 C158.3,26.6,159.8,25.8,159.8,23.9z"></path>
    <path fill="#009A96" d="M167.9,14.5h4.4v5.6h4.9v-5.6h4.4v15.1h-4.4v-5.7h-4.9v5.7h-4.4V14.5z"></path>
    <path fill="#009A96" d="M184.6,22.1c0-4.6,3-7.9,7.5-7.9c1.9,0,4,0.4,5.8,2.1L195,19c-0.7-0.7-1.6-1-2.7-1c-2,0-3.2,1.7-3.2,4 s1.2,4.1,3.2,4.1c1,0,2-0.3,2.7-1l2.8,2.8c-1.7,1.7-3.9,2.1-5.8,2.1C187.5,30,184.6,26.8,184.6,22.1z"></path>
    <path fill="#009A96" d="M200.2,14.5h13.2v15.1H209V18.3h-4.4v11.3h-4.4V14.5L200.2,14.5z"></path>
    <path fill="#009A96" d="M216.3,22.1c0-4.6,3.2-7.9,7.8-7.9c4.5,0,7.7,3.3,7.7,7.9c0,4.7-3.2,8-7.7,8C219.5,30,216.3,26.8,216.3,22.1 z M227.3,22.1c0-2.3-1.2-4-3.2-4c-2,0-3.2,1.7-3.2,4c0,2.3,1.2,4.1,3.2,4.1C226.1,26.1,227.3,24.3,227.3,22.1z"></path>
    <path fill="#009A96" d="M239.2,35.2h-4.4V14.5h4.4V16h0.1c0.7-0.8,1.9-1.9,4.2-1.9c4,0,6.9,3.3,6.9,7.9c0,4.6-3,8-6.9,8 c-2.3,0-3.6-1.1-4.2-1.9h-0.1V35.2z M242.4,26.1c2,0,3.4-1.7,3.4-4c0-2.2-1.4-3.9-3.4-3.9c-2,0-3.4,1.7-3.4,3.9
  C239,24.3,240.4,26.1,242.4,26.1z"></path>
    <path fill="#009A96" d="M256.3,18.3h-4.4v-3.8h13.6l-1.4,3.8h-3.4v11.3h-4.4V18.3z"></path>
    <path fill="#009A96" d="M267.4,14.5h4.4v5.6h4.9v-5.6h4.4v15.1h-4.4v-5.7h-4.9v5.7h-4.4V14.5z"></path>
    <path fill="#009A96" d="M289.4,14.5v4.3h2.9c3.3,0,6.1,2.4,6.1,5.4c0,3-2.8,5.4-6.1,5.4h-7.3V14.5H289.4z M291.9,26 c1.1,0,1.9-1,1.9-1.8s-0.7-1.8-1.9-1.8h-2.5V26L291.9,26L291.9,26z M300.1,14.5h4.3v15.1h-4.3V14.5z"></path>
    <path fill="#009A96" d="M307.4,22.1c0-4.6,3.1-7.9,7.5-7.9c4.1,0,7.3,2.5,7.3,8.3v1.1h-10c0.3,1.9,2,2.6,3.4,2.6 c1.4,0,2.6-0.7,3.1-1.4l2.8,2.8c-1.8,1.8-3.9,2.5-6.4,2.5C311.1,30,307.4,27.2,307.4,22.1z M317.6,20.4c-0.2-1.7-1.1-2.7-2.8-2.7 c-1.5,0-2.5,1.2-2.8,2.7H317.6z"></path>
    <path fill="#009A96" d="M115.7,43.9h4.4v8.5h0.1l5.8-8.5h3.8V59h-4.4v-8.5h-0.1l-5.8,8.5h-3.8V43.9z"></path>
    <path fill="#009A96" d="M133.7,43.9h4.4v5.6h4.9v-5.6h4.4V59H143v-5.7h-4.9V59h-4.4V43.9z"></path>
    <path fill="#009A96" d="M151.4,43.9h4.4v5.6h4.9v-5.6h4.4V59h-4.4v-5.7h-4.9V59h-4.4V43.9z"></path>
    <path fill="#009A96" d="M168,51.4c0-4.6,3.2-7.9,7.8-7.9c4.5,0,7.7,3.3,7.7,7.9c0,4.7-3.2,8-7.7,8C171.2,59.4,168,56.1,168,51.4z M178.9,51.4c0-2.3-1.2-4-3.2-4c-2,0-3.2,1.7-3.2,4c0,2.3,1.2,4.1,3.2,4.1C177.7,55.5,178.9,53.7,178.9,51.4z"></path>
    <path fill="#009A96" d="M186.5,59V43.9h7.8c3,0,5.5,1.1,5.5,4.1c0,1.4-1.1,2.6-2.2,2.9v0.1c1.8,0.5,2.9,1.7,2.9,3.6 c0,2.2-1.6,4.5-5.5,4.5L186.5,59L186.5,59z M193.3,50.2c1.1,0,2-0.4,2-1.6s-0.9-1.5-2-1.5h-2.5v3.1L193.3,50.2L193.3,50.2z M194.1,55.8c1.2,0,1.6-0.6,1.6-1.3c0-0.7-0.4-1.4-1.6-1.4h-3.3v2.8L194.1,55.8L194.1,55.8z"></path>
    <path fill="#009A96" d="M202.3,54.3c0-2.4,2-4.9,6.7-4.9c0.7,0,1.7,0,2.5,0.2v-0.2c0-1.4-1.1-1.9-2.4-1.9c-1.1,0-2.4,0.4-3.5,1.1 l-2.6-2.6c1.7-1.6,4.2-2.3,6.3-2.3c4,0,6.6,2.2,6.6,5.9V59h-4.3v-1.5h-0.1c-0.8,1.3-2.2,1.9-4.1,1.9 C204.5,59.4,202.3,57.2,202.3,54.3z M211.5,53.2v-0.5c-0.6-0.1-1.3-0.2-1.9-0.2c-2,0-2.8,0.7-2.9,1.7c0,1,0.8,1.7,2.1,1.7 C210.1,55.9,211.5,55.2,211.5,53.2z"></path>
    <path fill="#009A96" d="M231.8,59h-12.2V43.9h4.4v11.3h4.6V43.9h4.4v11.3h2.9v7.9h-4.1L231.8,59L231.8,59z"></path>
    <path fill="#009A96" d="M238.5,43.9h4.4v8.5h0.1l5.8-8.5h3.8V59h-4.4v-8.5h-0.1l-5.8,8.5h-3.8V43.9z"></path>
    <path fill="#009A96" d="M256.5,43.9h4.4v8.5h0.1l5.8-8.5h3.8V59h-4.4v-8.5H266l-5.8,8.5h-3.8V43.9z"></path>
    <path fill="#009A96" d="M114.6,89l6.9-21h3.6l4.8,14.2h0.1l4.8-14.2h3.6l6.9,21h-5.1l-3.7-12.2h-0.1L132,89h-4.2l-4.4-12.2h-0.1 L119.7,89H114.6z"></path>
    <path fill="#009A96" d="M146.3,81.4c0-4.6,3.2-7.9,7.8-7.9c4.5,0,7.7,3.3,7.7,7.9c0,4.7-3.2,8-7.7,8 C149.4,89.3,146.3,86.1,146.3,81.4z M157.2,81.4c0-2.3-1.2-4-3.2-4c-2,0-3.2,1.6-3.2,4c0,2.3,1.2,4.1,3.2,4.1 S157.2,83.6,157.2,81.4z"></path>
    <path fill="#009A96" d="M163.8,81.4c0-4.6,3-7.9,7.5-7.9c1.9,0,4,0.4,5.8,2.1l-2.8,2.8c-0.7-0.7-1.6-1-2.7-1c-2,0-3.2,1.7-3.2,4 s1.2,4.1,3.2,4.1c1,0,2-0.3,2.7-1l2.8,2.8c-1.7,1.7-3.9,2.1-5.8,2.1C166.7,89.3,163.8,86.1,163.8,81.4z"></path>
    <path fill="#009A96" d="M179.4,73.8h4.4v5.7h0.7l3.6-5.7h5l-4.9,7.5l5.5,7.6h-5.3l-4-5.8h-0.5V89h-4.4V73.8z"></path>
    <path fill="#009A96" d="M195.4,89V73.8h7.8c3,0,5.5,1.1,5.5,4.1c0,1.4-1.1,2.6-2.2,2.9v0.1c1.8,0.5,2.9,1.7,2.9,3.6 c0,2.2-1.6,4.5-5.5,4.5L195.4,89L195.4,89z M202.3,80.1c1.1,0,2-0.4,2-1.6s-0.9-1.5-2-1.5h-2.5v3.1L202.3,80.1L202.3,80.1z M203.1,85.8c1.2,0,1.6-0.6,1.6-1.3c0-0.7-0.4-1.4-1.6-1.4h-3.3v2.8L203.1,85.8L203.1,85.8z"></path>
    <path fill="#009A96" d="M216.8,73.8v4.3h2.9c3.3,0,6.1,2.4,6.1,5.4c0,3-2.8,5.4-6.1,5.4h-7.3V73.8C212.4,73.8,216.8,73.8,216.8,73.8 z M219.2,85.3c1.1,0,1.9-1,1.9-1.8s-0.7-1.8-1.9-1.8h-2.5v3.6L219.2,85.3L219.2,85.3z M227.4,73.8h4.3V89h-4.3V73.8z"></path>
    <polygon fill="#009A96" points="34.4,56.8 34.4,42.2 26.5,42.2 26.5,56.8 26.5,64.7 34.4,64.7 49,64.7 49,56.8     "></polygon>
    <polygon fill="#009A96" points="56.9,26.4 42.3,26.4 42.3,34.3 56.9,34.3 56.9,48.9 64.7,48.9 64.7,34.3 64.7,26.4     "></polygon>
    <path fill="#009A96" d="M91.3,45.7C91.3,20.5,70.9,0,45.7,0C20.5,0,0,20.5,0,45.7c0,12.6,5.1,24,13.3,32.2C14,78.6,15,79,16,79 c2,0,3.7-1.7,3.7-3.7c0-1-0.4-2-1.1-2.7c-6.9-6.9-11.1-16.4-11.1-27c0-21.1,17.2-38.2,38.3-38.2c21.1,0,38.2,17.2,38.2,38.2 c0,10.6-4.3,20.1-11.2,27L40.4,105l5.3,5.3L78,77.9C86.2,69.7,91.3,58.3,91.3,45.7"></path>
</svg>
{% endmacro %}


{% macro footer_logo(css_class='logo') %}
<svg class="{{ css_class }}" viewBox="0 0 234 64" xmlns="http://www.w3.org/2000/svg">
    <path class="foot_logo_path" d="M135.159 10.955H132.238V9.25879H140.49L139.878 10.955H137.123V19.5252H135.172V10.955H135.159Z"></path>
    <path class="foot_logo_path" d="M141.958 22.241H140.121V12.1786H141.958V13.0713H141.983C142.366 12.5484 143.08 12 144.202 12C146.141 12 147.595 13.5942 147.595 15.8388C147.595 18.0834 146.141 19.7031 144.202 19.7031C143.093 19.7031 142.366 19.1547 141.983 18.6318H141.958V22.241ZM143.794 18.0451C144.904 18.0451 145.682 17.1014 145.682 15.826C145.682 14.5762 144.904 13.6452 143.794 13.6452C142.685 13.6452 141.881 14.5889 141.881 15.826C141.881 17.1014 142.685 18.0451 143.794 18.0451Z"></path>
    <path class="foot_logo_path" d="M149.062 17.2672C149.062 16.0811 150.006 14.8695 152.289 14.8695C152.659 14.8695 153.195 14.895 153.641 14.9588V14.7547C153.641 13.9768 153.042 13.6069 152.302 13.6069C151.6 13.6069 150.95 13.8747 150.478 14.1936L149.369 13.084C150.159 12.3826 151.32 12 152.366 12C154.253 12 155.477 13.0585 155.477 14.793V19.5373H153.679V18.8358H153.654C153.207 19.397 152.57 19.7158 151.639 19.7158C150.172 19.703 149.062 18.6445 149.062 17.2672ZM153.641 16.655V16.3617C153.284 16.2979 152.863 16.2596 152.557 16.2596C151.46 16.2596 150.924 16.655 150.924 17.2544C150.924 17.7645 151.384 18.2237 152.098 18.2237C152.889 18.2237 153.641 17.688 153.641 16.655Z"></path>
    <path class="foot_logo_path" d="M157.668 12.1787H159.504V14.9844H162.234V12.1787H164.07V19.5246H162.234V16.5658H159.504V19.5246H157.668V12.1787Z"></path>
    <path class="foot_logo_path" d="M165.984 15.8388C165.984 13.5942 167.477 12 169.606 12C170.614 12 171.583 12.3061 172.31 13.033L171.15 14.1936C170.818 13.862 170.308 13.6324 169.696 13.6324C168.599 13.6324 167.872 14.5762 167.872 15.8515C167.872 17.1268 168.586 18.0834 169.696 18.0834C170.308 18.0834 170.805 17.8665 171.15 17.5222L172.31 18.6828C171.596 19.397 170.627 19.7031 169.606 19.7031C167.477 19.7031 165.984 18.1089 165.984 15.8388Z"></path>
    <path class="foot_logo_path" d="M173.992 12.1787H180.241V19.5246H178.405V13.7601H175.829V19.5246H173.992V12.1787Z"></path>
    <path class="foot_logo_path" d="M182.152 15.8388C182.152 13.5942 183.721 12 185.864 12C187.993 12 189.575 13.5942 189.575 15.8388C189.575 18.0961 187.993 19.7031 185.864 19.7031C183.721 19.7031 182.152 18.1089 182.152 15.8388ZM187.687 15.8388C187.687 14.5634 186.973 13.6324 185.864 13.6324C184.767 13.6324 184.04 14.5507 184.04 15.8388C184.04 17.1014 184.754 18.0579 185.864 18.0579C186.96 18.0579 187.687 17.1014 187.687 15.8388Z"></path>
    <path class="foot_logo_path" d="M193.317 22.241H191.48V12.1786H193.317V13.0713H193.342C193.725 12.5484 194.439 12 195.562 12C197.5 12 198.954 13.5942 198.954 15.8388C198.954 18.0834 197.5 19.7031 195.562 19.7031C194.452 19.7031 193.725 19.1547 193.342 18.6318H193.317V22.241ZM195.153 18.0451C196.263 18.0451 197.041 17.1014 197.041 15.826C197.041 14.5762 196.263 13.6452 195.153 13.6452C194.044 13.6452 193.24 14.5889 193.24 15.826C193.24 17.1014 194.031 18.0451 195.153 18.0451Z"></path>
    <path class="foot_logo_path" d="M202.253 13.7601H200.047V12.1787H206.449L205.875 13.7601H204.09V19.5246H202.253V13.7601Z"></path>
    <path class="foot_logo_path" d="M207.918 12.1787H209.754V14.9844H212.484V12.1787H214.32V19.5246H212.484V16.5658H209.754V19.5246H207.918V12.1787Z"></path>
    <path class="foot_logo_path" d="M216.59 12.1787H218.426V14.4106H219.663C221.258 14.4106 222.533 15.4563 222.533 16.974C222.533 18.4661 221.258 19.5246 219.663 19.5246H216.603V12.1787H216.59ZM219.472 18.0197C220.135 18.0197 220.645 17.5989 220.645 16.974C220.645 16.3363 220.135 15.9154 219.472 15.9154H218.426V18.0197H219.472ZM223.145 12.1787H224.982V19.5246H223.145V12.1787Z"></path>
    <path class="foot_logo_path" d="M226.883 15.8643C226.883 13.6069 228.413 12 230.467 12C232.431 12 233.999 13.2626 233.999 16.0683V16.4509H228.847C229.013 17.5605 229.905 18.0451 230.798 18.0451C231.449 18.0451 232.073 17.7645 232.469 17.3437L233.642 18.517C232.826 19.3205 231.793 19.7031 230.607 19.7031C228.643 19.7031 226.883 18.2747 226.883 15.8643ZM232.061 15.1118C231.971 14.2191 231.398 13.5304 230.479 13.5304C229.548 13.5304 228.962 14.2318 228.834 15.1118H232.061Z"></path>
    <path class="foot_logo_path" d="M133.082 25.2266H134.919V32.5725H134.944L140.3 25.2266H141.958V35.4931H140.122V28.1471H140.096L134.74 35.4931H133.082V25.2266Z"></path>
    <path class="foot_logo_path" d="M144.445 28.1465H146.282V30.9522H149.011V28.1465H150.848V35.4924H149.011V32.5337H146.282V35.4924H144.445V28.1465Z"></path>
    <path class="foot_logo_path" d="M153.117 28.1465H154.954V30.9522H157.683V28.1465H159.519V35.4924H157.683V32.5337H154.954V35.4924H153.117V28.1465Z"></path>
    <path class="foot_logo_path" d="M161.434 31.8193C161.434 29.5747 163.002 27.9805 165.145 27.9805C167.275 27.9805 168.856 29.5747 168.856 31.8193C168.856 34.0766 167.275 35.6835 165.145 35.6835C163.002 35.6708 161.434 34.0766 161.434 31.8193ZM166.956 31.8193C166.956 30.5439 166.242 29.6129 165.132 29.6129C164.023 29.6129 163.308 30.5312 163.308 31.8193C163.308 33.0818 164.023 34.0383 165.132 34.0383C166.242 34.0383 166.956 33.0818 166.956 31.8193Z"></path>
    <path class="foot_logo_path" d="M170.754 35.5061V28.1602H173.942C175.6 28.1602 176.735 28.8616 176.735 30.1369C176.735 30.8128 176.276 31.3612 175.728 31.5781V31.6035C176.518 31.8841 177.067 32.4963 177.067 33.338C177.067 34.6644 175.996 35.5061 174.325 35.5061H170.754ZM173.853 31.1572C174.401 31.1572 174.822 30.9404 174.822 30.443C174.822 29.9456 174.401 29.7288 173.853 29.7288H172.578V31.1699H173.853V31.1572ZM174.21 33.9374C174.784 33.9374 175.154 33.6441 175.154 33.2233C175.154 32.8024 174.784 32.4835 174.21 32.4835H172.578V33.9374H174.21Z"></path>
    <path class="foot_logo_path" d="M178.664 33.2476C178.664 32.0616 179.608 30.85 181.891 30.85C182.261 30.85 182.796 30.8755 183.243 30.9393V30.7352C183.243 29.9572 182.643 29.5874 181.903 29.5874C181.202 29.5874 180.552 29.8552 180.08 30.1741L178.97 29.0645C179.761 28.3631 180.921 27.9805 181.967 27.9805C183.855 27.9805 185.079 29.039 185.079 30.7735V35.5177H183.268V34.8163H183.243C182.796 35.3775 182.159 35.6963 181.228 35.6963C179.761 35.6707 178.664 34.625 178.664 33.2476ZM183.243 32.6227V32.3294C182.885 32.2656 182.465 32.2274 182.158 32.2274C181.062 32.2274 180.526 32.6227 180.526 33.2221C180.526 33.7323 180.985 34.1914 181.699 34.1914C182.477 34.1914 183.243 33.6685 183.243 32.6227Z"></path>
    <path class="foot_logo_path" d="M193.05 35.5061H187.285V28.1602H189.122V33.9247H191.698V28.1602H193.534V33.9247H194.746V37.3681H193.05V35.5061Z"></path>
    <path class="foot_logo_path" d="M196.48 28.1465H198.317V32.6612H198.342L201.403 28.1465H203.023V35.4924H201.186V30.9777H201.161L198.1 35.4924H196.48V28.1465Z"></path>
    <path class="foot_logo_path" d="M205.305 28.1465H207.141V32.6612H207.167L210.227 28.1465H211.847V35.4924H210.011V30.9777H209.985L206.924 35.4924H205.305V28.1465Z"></path>
    <path class="foot_logo_path" d="M132.379 51.4726L135.708 41.2061H137.276L139.725 48.5138H139.75L142.186 41.2061H143.755L147.071 51.4726H144.941L142.913 44.828H142.888L140.618 51.4726H138.832L136.562 44.828H136.537L134.509 51.4726H132.379Z"></path>
    <path class="foot_logo_path" d="M148.219 47.787C148.219 45.5424 149.787 43.9482 151.93 43.9482C154.06 43.9482 155.641 45.5424 155.641 47.787C155.641 50.0444 154.06 51.6513 151.93 51.6513C149.787 51.6513 148.219 50.0444 148.219 47.787ZM153.741 47.787C153.741 46.5117 153.027 45.5807 151.917 45.5807C150.82 45.5807 150.093 46.4989 150.093 47.787C150.093 49.0496 150.808 50.0061 151.917 50.0061C153.027 50.0061 153.741 49.0496 153.741 47.787Z"></path>
    <path class="foot_logo_path" d="M157.184 47.787C157.184 45.5424 158.676 43.9482 160.806 43.9482C161.813 43.9482 162.782 44.2544 163.509 44.9813L162.349 46.1418C162.017 45.8102 161.507 45.5807 160.895 45.5807C159.798 45.5807 159.071 46.5245 159.071 47.7998C159.071 49.0751 159.785 50.0316 160.895 50.0316C161.507 50.0316 162.004 49.8148 162.349 49.4705L163.509 50.631C162.795 51.3452 161.826 51.6513 160.806 51.6513C158.676 51.6513 157.184 50.0444 157.184 47.787Z"></path>
    <path class="foot_logo_path" d="M165.195 44.127H167.032V46.9965H167.784L169.544 44.127H171.597L169.391 47.6086L172.018 51.4856H169.889L167.937 48.5396H167.032V51.4856H165.195V44.127Z"></path>
    <path class="foot_logo_path" d="M173.395 51.4729V44.127H176.583C178.241 44.127 179.376 44.8284 179.376 46.1037C179.376 46.7796 178.917 47.328 178.368 47.5449V47.5704C179.159 47.851 179.707 48.4631 179.707 49.3048C179.707 50.6312 178.636 51.4729 176.966 51.4729H173.395ZM176.506 47.1367C177.055 47.1367 177.476 46.9199 177.476 46.4225C177.476 45.9252 177.055 45.7084 176.506 45.7084H175.231V47.1495H176.506V47.1367ZM176.851 49.9042C177.425 49.9042 177.794 49.6109 177.794 49.19C177.794 48.7692 177.425 48.4503 176.851 48.4503H175.218V49.9042H176.851Z"></path>
    <path class="foot_logo_path" d="M181.746 44.127H183.583V46.3588H184.82C186.414 46.3588 187.689 47.4046 187.689 48.9222C187.689 50.4144 186.414 51.4729 184.82 51.4729H181.759V44.127H181.746ZM184.616 49.968C185.279 49.968 185.789 49.5472 185.789 48.9222C185.789 48.2846 185.279 47.8637 184.616 47.8637H183.57V49.968H184.616ZM188.289 44.127H190.125V51.4729H188.289V44.127Z"></path>
    <path class="foot_logo_path" d="M89.1322 60.4128L92.1548 63.4353L110.749 44.8409C115.493 40.0839 118.427 33.5287 118.427 26.272C118.427 11.7714 106.668 0 92.1548 0C77.6542 0 65.8828 11.7586 65.8828 26.272C65.8828 33.5159 68.8288 40.0966 73.5476 44.8281C73.9557 45.2362 74.4786 45.4658 75.078 45.4658C76.2513 45.4658 77.2078 44.5093 77.2078 43.336C77.2078 42.7366 76.9527 42.1882 76.5574 41.7929C72.6038 37.8393 70.1424 32.3426 70.1424 26.2847C70.1424 14.1563 80.0136 4.28516 92.142 4.28516C104.27 4.28516 114.142 14.1563 114.142 26.2847C114.142 32.3554 111.68 37.8521 107.688 41.8311L89.1322 60.4128Z"></path>
    <path class="foot_logo_path" d="M85.7149 25.0732H81.1875V38.0052H85.7149V25.0732Z"></path>
    <path class="foot_logo_path" d="M94.1194 33.4775H81.1875V38.005H94.1194V33.4775Z"></path>
    <path class="foot_logo_path" d="M103.164 16.0312H98.6367V28.9632H103.164V16.0312Z"></path>
    <path class="foot_logo_path" d="M103.151 16.0312H90.2188V20.5587H103.151V16.0312Z"></path>
    <path class="foot_logo_path" d="M118.427 26.2847C118.427 11.7713 106.668 0.0126953 92.1548 0.0126953C77.6414 0.0126953 65.8828 11.7713 65.8828 26.2847C65.8828 33.5286 68.8288 40.1093 73.5476 44.8281C73.9557 45.2362 74.4786 45.4657 75.078 45.4657C76.2513 45.4657 77.2078 44.5093 77.2078 43.3359C77.2078 42.7365 76.9527 42.1882 76.5574 41.7928C72.6038 37.8392 70.1424 32.3425 70.1424 26.2847C70.1424 14.1562 80.0136 4.28509 92.142 4.28509C104.271 4.28509 114.142 14.1562 114.142 26.2847C114.142 32.3553 111.667 37.852 107.688 41.8311L89.1067 60.4127L92.1293 63.4353L110.724 44.8536C115.493 40.0966 118.427 33.5414 118.427 26.2847Z"></path>
    <path class="foot_logo_path" d="M39.459 39.4079C42.8131 36.0411 44.8919 31.3989 44.8919 26.2847C44.8919 16.031 36.5512 7.67756 26.2847 7.67756C16.031 7.67756 7.67754 16.0183 7.67754 26.2847C7.67754 31.3989 9.7946 36.0921 13.1105 39.4079C13.5058 39.8033 14.0415 40.0584 14.6409 40.0584C15.8269 40.0584 16.7835 39.1019 16.7835 37.9158C16.7835 37.3037 16.5284 36.7553 16.1203 36.3727C13.5441 33.7837 11.9627 30.2128 11.9627 26.2847C11.9627 18.3776 18.3904 11.9499 26.2975 11.9499C34.2046 11.9499 40.6323 18.3776 40.6323 26.2847C40.6323 30.2383 39.0254 33.822 36.4237 36.4109L17.842 54.9926L20.8645 58.0151L39.459 39.4079ZM11.3505 43.336C11.3505 42.7366 11.0954 42.1882 10.7001 41.7929C6.74654 37.8393 4.28514 32.3426 4.28514 26.2847C4.28514 14.1563 14.1563 4.28516 26.2847 4.28516C38.4132 4.28516 48.2843 14.1563 48.2843 26.2847C48.2843 32.3554 45.8229 37.8521 41.8311 41.8311L23.2494 60.4128L26.272 63.4353L44.8664 44.8409C49.6107 40.0839 52.5439 33.5287 52.5439 26.272C52.5439 11.7586 40.7853 0 26.272 0C11.7586 0 0 11.7586 0 26.272C0 33.5159 2.94602 40.0966 7.66478 44.8281C8.07289 45.2235 8.59577 45.4658 9.19518 45.4658C10.394 45.4786 11.3505 44.5221 11.3505 43.336ZM37.2271 26.2847C37.2271 20.2524 32.3171 15.3423 26.2847 15.3423C20.2524 15.3423 15.3423 20.2524 15.3423 26.2847C15.3423 32.3171 20.2524 37.2271 26.2847 37.2271C32.3171 37.2271 37.2271 32.3171 37.2271 26.2847ZM19.6147 26.2847C19.6147 22.6118 22.6118 19.6147 26.2847 19.6147C29.9577 19.6147 32.9547 22.6118 32.9547 26.2847C32.9547 29.9705 29.9577 32.9675 26.2847 32.9675C22.599 32.9675 19.6147 29.9705 19.6147 26.2847Z"></path>
    <path class="foot_logo_path" d="M19.6273 26.3228H19.7038C19.7038 24.4991 20.4435 22.8539 21.6423 21.6551C22.8412 20.4562 24.4863 19.7165 26.3101 19.7165C28.1338 19.7165 29.779 20.4562 30.9778 21.6551C32.1766 22.8539 32.9163 24.4991 32.9163 26.3228C32.9163 28.1465 32.1766 29.7917 30.9778 30.9905C29.779 32.1894 28.1338 32.929 26.3101 32.929C24.4863 32.929 22.8412 32.1894 21.6423 30.9905C20.4435 29.7917 19.7038 28.1465 19.7038 26.3228H19.6273H19.5508C19.5508 30.0468 22.5861 33.0821 26.3101 33.0821C30.0341 33.0821 33.0566 30.0468 33.0566 26.3228C33.0566 22.5988 30.0213 19.5635 26.3101 19.5635C22.5861 19.5635 19.5508 22.5988 19.5508 26.3228H19.6273Z" fill="#0095DB"></path>
</svg>
{% endmacro %}


{% macro file_icon(filetype) %}
    {% if filetype == 'excel' %}
        <i class="bi bi-file-earmark-excel"></i>
    {% elif filetype == 'image' %}
        <i class="bi bi-file-earmark-image"></i>
    {% elif filetype == 'pdf' %}
        <i class="bi bi-file-earmark-pdf"></i>
    {% elif filetype == 'ppt' %}
        <i class="bi bi-file-earmark-ppt"></i>
    {% elif filetype == 'word' %}
        <i class="bi bi-file-earmark-word"></i>
    {% elif filetype == 'zip' %}
        <i class="bi bi-file-earmark-zip"></i>
    {% else %}
        <i class="bi bi-file-earmark"></i>
    {% endif %}
{% endmacro %}